html  {
    background-color: @light-grey;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
	width: 90%;
    margin: 25px auto;
    
    &.staff img {
        text-align: center;
        width: 90%;
        border-radius: 20px;
    }

}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 4em;
}
